.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 3px double black;
}
th {
  text-align: left;
}

#no_bullets {
  list-style-type: none;
}


#float_tags {
  list-style-type: none;
  float: right;
  font-size: 14px;
}

.home_float {
  font-size: 12px;
  padding-left: 5px;

}
