<div class="container">

  <form name="input" action='/submit_post' method="post">
    <ul id='no_bullets'> Create a new post
      <li>Title: <input type="text" name="title"></li>
      <li>About:
      <textarea name="about" rows="6" cols="25"></textarea></li>
      Color:
      <li>Tag: <input type="text" name="tags"></li>

      <li><input type="submit" value="Submit"></li>
    </ul>
  </form>

</div>