<div class="container">

  <form name="input" action='/submit_post' method="post">
    <ul id='no_bullets'> Create a new post
      <li>Title: <input type="text" name="title"></li>
      <li>About:
      <textarea name="about" rows="6" cols="25"></textarea></li>
      Color:
      <li><input type="radio" name="color" value="red">Red</li>
      <li><input type="radio" name="color" value="green">Green</li>
      <li><input type="radio" name="color" value="blue">Blue</li>
<!--       Time:
      <li><input type="radio" name="time" value="am">AM</li>
      <li><input type="radio" name="time" value="pm">PM</li>
      State:
      <li><input type="radio" name="state" value="static">static</li>
      <li><input type="radio" name="state" value="dynamic">dynamic</li> -->
      <li><input type="submit" value="Submit"></li>
    </ul>
  </form>

</div>